h1{
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: SuperMario;
    src: url(SuperMario256.ttf);
}
h2{
    font-family: SuperMario;
    font-size: larger;
    font-weight: 900;
}

#P1{
    background: url(Tata.jpeg) no-repeat fixed center;
    background-size: cover;
}

#P2{
    background-color: yellow;
    width: 200px;
    height: 100px;
    box-shadow: 15px 15px 3px 5px red;
}

h3{
    color: gold;
    width: 400px;
    height: 25px;
    text-align: center;
    letter-spacing: 2px;
    background-color: black;
    margin: auto;
}

#P3{
    text-transform: uppercase;
}

#P4{
    line-height: 40px;
    text-align: justify;
}

#footer{
    color: white;
    background-color: black;
    box-shadow: 10px 10px 3px 5px red;
}