div{
    background-color: blueviolet;
    background-image: url(PY.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: red;
    border-style: dashed;
    border-width: 10px;
}
